<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Personal Site - Layout</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Pontano+Sans" rel="stylesheet">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Hairline|Megrim|Nixie+One" rel="stylesheet">
    
    <link rel="stylesheet" href="css/normalize.css">

    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    
<body>
  <div class="site-wrapper">
    <!-- Landing section-->
    <div class="landing-section">
      <canvas id="canvas"></canvas>
      <div class="word-wrapper">
        <div>
          <h1 class="first">Ian</h1>
          <h1 class="last">Jabour</h1>
        </div>
        <div>
          <h2 class="cipher">Full-Stack Developer</h2>
        </div>
      </div>
      <div id="down" class="arrow"><span>down</span></div>
    </div>
    <!-- Projects Section-->
    <h2 id="projects" class="section-title">Projects</h2>
    <div class="project-section">
      <div class="project">
        <div class="project-image"></div>
        <div class="project-title">
          <h3>Chess AI</h3>
          <hr class="underbar"/>
        </div>
        <div class="project-details">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit, est ac sollicitudin porta, lectus odio commodo sem, in interdum purus velit id nibh. Cras lacinia lectus non massa elementum hendrerit. Vivamus efficitur, mi et lacinia pellentesque, justo diam pulvinar magna, quis fermentum purus erat sed metus. Cras a metus a nibh elementum egestas et et nisl.</p>
        </div>
      </div>
      <div class="project">
        <div class="project-image"></div>
        <div class="project-title">
          <h3>Computer Tennis</h3>
          <hr class="underbar"/>
        </div>
        <div class="project-details">
          <p>Maecenas quis nisi ullamcorper, malesuada felis et, mattis justo. Etiam nec semper eros. Integer eget massa id lectus condimentum aliquam. In sodales felis eu sagittis porttitor. Vestibulum id viverra leo. Sed vestibulum eleifend justo, eget auctor lorem porttitor nec. Quisque ac urna eu lorem sagittis pretium a vitae lorem.</p>
        </div>
      </div>
    </div>
    <!-- Gallery Section-->
    <h2 class="section-title">Gallery</h2>
    <div class="gallery-section">
      <div class="gallery-showcase">
        <div class="gallery-embed"></div>
        <div class="gallery-description">
          <hr class="underbar"/>
          <p>Aliquam ut sagittis nulla, id tristique justo. Nulla volutpat ultrices tellus, ut ultricies justo placerat a.</p>
        </div>
      </div>
      <div class="gallery-showcase">
        <div class="gallery-embed"></div>
        <div class="gallery-description">
          <hr class="underbar"/>
          <p>Proin pharetra ut diam in euismod. Ut facilisis ullamcorper odio vel interdum.</p>
        </div>
      </div>
    </div>
    <!-- Gists Section-->
    <h2 class="section-title">Gists</h2>
    <div class="gist-section">
      <div class="gist-viewer">
        <div class="gist-controls">
          <div class="left"><i class="icon material-icons">keyboard_arrow_left</i></div>
          <div class="right"><i class="icon material-icons">keyboard_arrow_right</i></div>
        </div><code data-gist-id="c65b635e4d431cc457f1e6eb9ac5ceaa" data-gist-show-loading="false" class="gist-embed current-gist"></code><code data-gist-id="0e5231ff9e4be67216096657d322103a" data-gist-show-loading="false" class="gist-embed"></code><code data-gist-id="349269e216e0f4ba1699290b026e5225" data-gist-show-loading="false" class="gist-embed"></code><code data-gist-id="1d98dcbcf5553a7cb0b54a5a94df2592" data-gist-show-loading="false" class="gist-embed"></code><code data-gist-id="4088fffbe96cb8ea7d669b2664936bf1" data-gist-show-loading="false" class="gist-embed"></code><code data-gist-id="db96318fa3c02f4e93f91da4e617221c" data-gist-show-loading="false" class="gist-embed"></code><code data-gist-id="23114027d8c4c2dd1c50dd06ac944d2c" data-gist-show-loading="false" class="gist-embed"></code><code data-gist-id="7dca59b74df10bf94f554a06a9467558" data-gist-show-loading="false" class="gist-embed"></code>
      </div>
    </div>
    <!-- Bio Section-->
    <h2 class="section-title">Bio</h2>
    <div class="bio-section">
      <div class="bio-container">
        <div class="avatar-image"></div>
        <div class="bio-details">
          <div class="links">
            <div class="link"></div>
            <div class="link"></div>
            <div class="link"></div>
            <div class="link"></div>
          </div>
          <p>Quisque lobortis erat eget dui aliquet, non lobortis felis pharetra. Vivamus non urna ut metus condimentum porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis elementum elit odio. Sed tristique pellentesque dui. Vestibulum sollicitudin tellus erat, eu molestie ipsum efficitur bibendum. Nunc vulputate turpis eget auctor porta. Proin ultricies egestas nibh, vestibulum tempus magna dignissim vitae.</p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>100% Handcrafted by Ian Jabour</p>
    </footer>
  </div>
</body>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gist-embed/2.4/gist-embed.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
