.scoreboard {
    background-color: rgba(0, 0, 210, 0.7);
    transition: 0.3s ease background-color;
}

.win {
    background-color: rgba(0, 210, 0, 0.7);
}

.lose {
    background-color: rgba(210, 0, 0, 0.7);
}

.box {
    width: 400px;
    height: 400px;
    margin: 15px auto;
    transition: 0.3s ease background-color;
}
