/* 
Fonts
=====
font-family: 'Bungee Hairline', cursive;
font-family: 'Abel', sans-serif;
font-family: 'Pontano Sans', sans-serif;
*/
/* Colors */
/* Mixins */
/* General Styles */
html, body {
  background-color: #FAFFFD;
  color: #454851;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

.site-wrapper {
  position: relative;
  overflow: hidden;
}

:root {
  font-size: 18px;
  font-family: 'Abel', sans-serif;
}

.section-title {
  font-size: 4rem;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-align: center;
  margin: auto;
  padding: 0.5em 0;
  font-family: 'Bungee Hairline', cursive;
}
@media (max-width: 500px) {
  .section-title {
    font-size: 2.5rem;
  }
}

@media (max-width: 715px) {
  p {
    font-size: 0.9em;
  }
}
/* Landing page section */
.landing-section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

#canvas {
  position: absolute;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.3;
}
@media (max-device-width: 1024px) {
  #canvas {
    display: none;
  }
}

.word-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.first, .last {
  font-family: 'Abel', sans-serif;
  font-size: 5rem;
  display: inline-block;
  margin: 0.1em;
}
@media (max-width: 480px) {
  .first, .last {
    font-size: 3rem;
  }
}

.first {
  -webkit-animation: fade-down 1.5s ease-out forwards;
          animation: fade-down 1.5s ease-out forwards;
  opacity: 0;
  z-index: 3;
}

.last {
  -webkit-animation: fade-up 1.5s ease-out forwards;
          animation: fade-up 1.5s ease-out forwards;
  opacity: 0;
  z-index: 3;
}

.cipher {
  font-family: 'Bungee Hairline', cursive;
  font-size: 1.8rem;
  -webkit-animation: fade-in 1.5s ease-out 1s forwards;
          animation: fade-in 1.5s ease-out 1s forwards;
  opacity: 0;
  z-index: 3;
}
@media (max-width: 480px) {
  .cipher {
    font-size: 1rem;
  }
}

.arrow {
  font-size: 2rem;
  color: #454851;
  z-index: 3;
  /* ----------- Laptop Screens ----------- */
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .arrow:hover {
    cursor: pointer;
    color: #686d7a;
  }
}

/* ==  Project Section  == */
.project-section {
  width: 100%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.project {
  max-width: 400px;
  min-width: 300px;
  margin: 1em;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* ----------- Laptop Screens ----------- */
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .project:hover .underbar {
    width: 100%;
  }
}

.project-title {
  font-size: 1.5rem;
  width: 100%;
}
.project-title h3 {
  font-family: 'Abel', sans-serif;
  text-align: left;
  padding: 0.3em;
  margin: 0.1em auto;
}
.project-title .underbar {
  width: 0;
  height: 0;
  border: none;
  margin: 0;
  border-top: 0.1em solid #454851;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .project-title .underbar {
    width: 100%;
  }
}

.project-image {
  width: 100%;
  height: 250px;
  background-color: #982649;
}

.project-details {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  font-size: 1em;
  text-align: left;
  font-family: 'Pontano Sans', sans-serif;
}

/* ==  Gallery Section  == */
.gallery-section {
  width: 100%;
  height: auto;
  font-size: 2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-showcase {
  width: 700px;
  min-width: 300px;
  height: auto;
  margin: 0.5em 2em;
}

.gallery-embed {
  width: 100%;
  height: 50vw;
  max-height: 500px;
  min-height: 300px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EF3E36;
}

.gallery-description {
  width: 100%;
  min-width: 300px;
}
.gallery-description .underbar {
  width: 15%;
  height: 0;
  margin: 0.7em auto;
  border: none;
  border-top: 0.1em solid #454851;
}
.gallery-description p {
  padding: 0 0.4em;
  font-size: 0.5em;
  font-family: 'Pontano Sans', sans-serif;
  text-align: center;
}

.gist-section {
  width: 100%;
  height: auto;
  font-size: 2rem;
  margin: 1em auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.gist-viewer {
  width: 80%;
  max-width: 700px;
  min-width: 300px;
  height: 600px;
  margin: auto;
  position: relative;
}

.gist-controls {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #454851;
  border-radius: 2px;
}

.left, .right {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* ----------- Computer Screens ----------- */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .left:hover, .right:hover {
    cursor: pointer;
    background-color: #686d7a;
  }
}

.icon {
  margin: auto;
  font-size: 2rem;
  color: #FAFFFD;
}

.gist-embed {
  width: 100%;
  overflow: scroll;
  position: absolute;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  opacity: 0;
  z-index: -1;
}

.gist-meta, .gist-meta a {
  background-color: #454851 !important;
  color: #FAFFFD !important;
}

.gist-meta a:hover {
  color: #75B09C !important;
}

.gist-data {
  overflow: scroll !important;
  max-height: 500px;
}
@media screen and (orientation: portrait) {
  .gist-data {
    -webkit-overflow-scrolling: touch !important;
  }
}
@media screen and (orientation: landscape) {
  .gist-data {
    -webkit-overflow-scrolling: touch !important;
  }
}

.current-gist {
  z-index: 0;
  opacity: 1;
}

.bio-section {
  width: 100%;
  height: auto;
  padding: 0 1em 5em 1em;
  font-size: 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 350px) {
  .bio-section {
    padding: 0 0 5em 0;
  }
}

.bio-container {
  width: 100%;
  max-width: 700px;
  margin: 0;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 675px) {
  .bio-container {
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.avatar-image {
  width: 40%;
  min-width: 300px;
  max-height: 30vw;
  min-height: 300px;
  margin: 0;
  background-color: #2E3138;
}
@media (max-width: 675px) {
  .avatar-image {
    margin: auto;
  }
}

.bio-details {
  width: 50%;
  min-width: 300px;
  margin: 0 0 0 1em;
}
.bio-details p {
  width: 100%;
  margin: 0;
  height: auto;
  font-family: 'Pontano Sans', sans-serif;
}
.bio-details .links {
  width: 100%;
  height: auto;
  margin: 0;
  margin-bottom: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.bio-details .links .link {
  margin: 0;
  width: 50px;
  height: 50px;
  background-color: #B7B5B3;
}
@media (max-width: 675px) {
  .bio-details {
    width: 300px;
    margin: auto;
  }
  .bio-details .links {
    margin: 1em auto;
  }
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #454851;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer p {
  width: 100%;
  margin: 0 auto;
  color: #75B09C;
  text-align: center;
}

/* Animations */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fade-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
